@charset "utf-8";
html {
    height: 100%;
    max-width: 633px;
    margin: 0 auto;
    font-size: 12px;
}
body {
    height: 100%;
    max-width: 633px;
    margin: 0 auto;
    font-size: 12px;
}
#app {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    max-width: 640px;
    margin: auto;
    font-size: 13px;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}